# Environment Variables
.env
*.env
client/.env
server/.env
python-backend/.env

# Dependencies & Virtualenvs
model/venv
model/whisper_env
server/node_modules
client/node_modules
python-backend/venv